.conversatorio {
	background-color: #000;
	padding: 70px 0px;
}

.conversatorio .inside h3{
	font-size: 45px;
	font-weight: 800;
	padding: 25px 8px;
}

.conversatorio .inside-2 {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.conversatorio .text-inside {
	width: 50%;
	font-weight: 700;
	color: #fff;
	text-align: center;

}

.conversatorio .text-inside h3{
	white-space: nowrap;
	border-bottom: 2px solid #fff;
	padding-bottom: 15px;

}

.conver-collage img {
	width: 100%;
}

.conversatorio-images {
	margin-top: 50px;
}

.conver-collage {
	padding: 5px 2px;
}

.conver-collage:hover {
	transform: scale(0.9);
	transition: all 0.5s ease-in;
}

#sal {
	color: #BE004B;
}

#SDP {
	color: #C2CE28;
}

#exposiciones {
	color: #D68700;
}

.conver-collage-2 .te-xt-con, .conver-collage-2 .te-xt-con-2{
	font-size: 90px;
	text-transform: uppercase;
	color: #1da1ad;
	font-weight: 800;
	margin: 0;
	line-height: 90px;
	margin-left: 10px;
}

